:host {
  max-width: 20%;
  border: 1px solid black;
}

.center {
  text-align: center;
}

.circle {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.ease-in {
  display: none;
}

:host:hover .ease-in {
  display: block;
}
