.photo {
  width: 30%;
  align-self: flex-start;
}

.right {
  display: block;
  text-align: end;
}

.description {
  margin: 0 12px;
}

.experts {
  background-color: grey;
}

p {
  display: block;
}
