@import 'src/variables.scss';

.contacts-container {
  padding-top: calc(#{$headerHeight} + 10px);
  position: relative;
  //transform-style: preserve-3d;
  perspective: 400px;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transform: rotateY(70deg) translateZ(-100px) translateX(100px);
  position: relative;
  background: red;
}
