<div class="contacts-container">
  <div class="intro-text">
    <h2>Sustainable Luxury</h2>
    <p>
      The interior design wing of Woven Design Collaborative looks at design as
      a holistic experience that brings spaces alive with character. We work
      collaboratively with our clients and craftsmen to weave elements that
      reflect their personality and style. We believe that space is the physical
      extension of the soul and the two share an intricate relationship. Our
      founder Nisha Mary Poulose brings the nuances of her culture and identity
      into the design process. She upholds values of sustainability and
      ecological harmony through her designs, and her spaces reflect and infuse
      natural elements in stratified ways. Nisha’s tropical influences from her
      adolescent years in Kerala and her global experiences as an urban planner
      play with each other to create tailored spatial experiences. WDC interiors
      is bold yet sensitive and our designs create a palate that permeates the
      boundaries of practicality to create finesse and luxury.
    </p>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="start start"
    class="left-container"
  >
    <img src="assets/img/people/nisha-mary-poulose.jpg" class="image" />
    <div>
      <h2>NISHA MARY POULOSE</h2>
      <p>
        Nisha is an Architect and an Erasmus Mundus Scholar with a double
        masters in Regional Planning and Urban Development from Germany and
        France. She has over 10 years of local and international experience in
        the field, working with boutique designer firms as well as
        independently. She looks at design as a process that creates holistic
        experiences where design meets need. She enjoys working with clients and
        bridging their requirements with elements of their personalities to
        create bespoke spaces.
      </p>
      <div class="education">
        <p>
          MSc. International Cooperation in Urban Development-<br />
          <strong>Technische Universität Darmstadt, Germany</strong>
        </p>

        <p>
          MSc. Urbanisme Habitat and International Cooperation-<br />
          <strong>Universite Pierre Mendes France.</strong>
        </p>

        <p>
          B.Arch–<br />
          <strong>SRM University, India</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="link" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon class="icon" icon="phone" src="assets/img/call.png"></fa-icon>
      <a href="tel:00919902298154">+91-9902298154</a>
    </div>

    <div class="link" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon class="icon" icon="envelope"></fa-icon>
      <a href="mailto:design.woven@gmail.com">design.woven@gmail.com</a>
    </div>

    <div class="link" fxLayout="row" fxLayoutAlign="start center">
      <fa-icon class="icon" icon="map-marker-alt"></fa-icon>
      <a href="">6th Floor, Rich Homes Apartment, Richmond Road, Bengaluru</a>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.095540997886!2d77.59784541535629!3d12.965737918513781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15d1575610e1%3A0x623c9342a16779b0!2sJaaga!5e0!3m2!1sen!2sin!4v1580625395425!5m2!1sen!2sin"
      width="100%"
      height="250"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
    ></iframe>
  </div>

  <div class="banner" fxLayout fxLayoutAlign="center center">
    <p class="banner-text">
      Contact Us
    </p>
  </div>
</div>
