@import 'src/variables.scss';

.contacts-container {
  padding-top: calc(#{$headerHeight} + 10px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.image {
  margin-top: 26px;
  height: 40vmin;
}

.link {
  font-size: 1.2em;
  padding: 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  padding-right: 20px;
}

.banner {
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  margin-top: auto;
  grid-column: 1 / span 3;
}

.banner-text {
  font-size: 2em;
  color: white;
}

.intro-text {
  grid-column: 1 / span 3;
  padding: 12px 5vw;
}

.left-container {
  padding-left: 5vw;
  grid-column: 1 / span 2;
}

.right-container {
  padding-right: 5vw;
}

strong {
  font-weight: bold;
}

.education {
  margin-top: 20px;
}

.description {
  padding-right: 5vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .left-container {
    grid-column: 1 / span 3;
    padding-right: 5vw;

    .image {
      align-self: center;
      width: 50vmin;
      height: auto;
    }
  }
  .right-container {
    grid-column: 1 / span 3;
    padding-left: 5vw;
  }
}
