<mat-sidenav-container [@.disabled]="isApplicationLoaded" class="full-space">
  <mat-sidenav #sidenav role="navigation" position="end">
    <!--this is a place for us to add side-nav code-->
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" class="full-space">
      <app-header (sidenavToggle)="sidenav.toggle()"> </app-header>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
