.photo {
  max-width: 100%;
  object-fit: contain;
}

.right {
  display: block;
  text-align: end;
}

.description {
  margin: 0 12px;
}

.experts {
  background-color: grey;
}

p {
  display: block;
}
