<div class='slideshow-container'>

  <slideshow autoPlay="true" [imageUrls]="slides" [lazyLoad]="slides?.length > 1" [autoPlayWaitForLazyLoad]="true"
    (onIndexChanged)="swipeTextSlide($event)" [autoPlayInterval]="10000" showDots="true"
    minHeight="300px">
  </slideshow>

  <div class='description-container'>
    <p fxFlex="row wrap" fxLayoutAlign='center' class='description'>{{description}}</p>
  </div>
  <h2 class='title-container' [ngClass]="{'white-text': index===2}">
    <div fittext="true" activateOnResize="true" [modelToWatch]="title" class='title'>{{title | uppercase}}</div>
  </h2>
</div>


