<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout fxLayoutAlign="center center" [@fall]="hasClickedOnce ? 'end' : 'start'">

    <img [@fadingIn]="fadingIn ? 'end' : 'start'" class="image" [src]="imageSrc">

  </div>
  <div fxLayout="row nowrap" fxLayoutAlign="center" class='container'>

    <ng-container *ngFor="let url of images; let i = index">
      <img [@shrink]="hasClickedOnce ? 'end' : 'start'" [@spacing]="hasClickedOnce
      ? 'end' : 'start'" class='circle' src="{{url}}" (click)="onImageClick(i)"
        [ngClass]="{'grey': fadingIn &&  indexSelected === i }">
    </ng-container>

  </div>
</div>
