.card {
  height: 300px;
  width: 600px;
  flex: 0 0 auto;
}

.circle {
  width: 300px;
  height: 300px;

  background-color: red;
  background-size: contain;
}

.regional-planning {
  background-image: url("/assets/img/regional-planning.png");
}
