.rounded {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
