<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
    class="top-left-corner"
  >
    <img class="logo" src="assets/img/logo.webp" routerLink="/home" />
    <div fxLayout="column" fxLayoutAlign="center center" class="name">
      <p class="company-name">W D C</p>
      <p class="sub-company-name">ARCHITECTURE<br />and INTERIORS</p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" class="button-menu">
    <div class="circle" routerLink="/projects">
      <fa-icon icon="book"></fa-icon>
    </div>
    <!-- <div class="circle">
      <fa-icon icon="users"></fa-icon>
    </div> -->
    <div class="circle" routerLink="/contacts">
      <fa-icon icon="info"></fa-icon>
    </div>
  </div>
</div>
