<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
    class="logo"
  >
    <img class="logo" src="assets/img/logo.jpg" routerLink="/home" />
    <div fxLayout="column" fxLayoutAlign="end" style.height="100%" class="name">
      <p class="company-name">{{ 'Woven Designs' | uppercase }}</p>
      <p class="sub-company-name">
        {{ 'Architecture and Interiors' | uppercase }}
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" class="button-menu">
    <div class="circle" routerLink="/projects">
      <fa-icon icon="book"></fa-icon>
    </div>
    <div class="circle">
      <fa-icon icon="users"></fa-icon>
    </div>
    <div class="circle">
      <fa-icon icon="eye"></fa-icon>
    </div>
  </div>
</div>
