@import 'src/variables.scss';

.logo {
  height: 100%;
  outline: none;
}

.header {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
}

.name {
  height: 100%;
  margin-top: -8px;
}

.button-menu {
  margin-top: 5px;
  margin-right: 30px;
  padding-bottom: 5px;
}

.company-name {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3em;
  font-weight: bold;
 
}

.sub-company-name {
  margin-top: -10px;
  font-size: 15px;

}

.circle {
  height: calc(#{$headerHeight} - 10px);
  width: calc(#{$headerHeight} - 10px);
  border-radius: 50%;
  border: 1px solid black;
  font-size: calc(#{$headerHeight} / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.circle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.circle:active {
  background-color: rgba(0, 0, 0, 1);
}
