<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
    class="top-left-corner"
  >
    <picture class="logo" routerLink="/">
      <source
        class="logo"
        srcset="assets/img/logo-small.webp"
        type="image/wep"
      />
      <source
        class="logo"
        srcset="assets/img/logo-small.jpg"
        type="image/jpeg"
      />
      <img class="logo" src="assets/img/logo-small.jpg" />
    </picture>

    <div fxLayout="column" fxLayoutAlign="center center" class="name">
      <p class="company-name">W D C</p>
      <p class="sub-company-name">ARCHITECTURE<br />and INTERIORS</p>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxShow
    fxHide.lt-sm
    class="button-menu"
  >
    <div class="circle" routerLink="/projects">
      <fa-icon icon="book"></fa-icon>
    </div>
    <!-- <div class="circle">
      <fa-icon icon="users"></fa-icon>
    </div> -->
    <div class="circle" routerLink="/contacts">
      <fa-icon icon="info"></fa-icon>
    </div>
  </div>

  <button fxHide fxShow.lt-sm mat-icon-button (click)="onToggleSidenav()">
    <fa-icon icon="bars"></fa-icon>
  </button>
</div>
