@import "src/variables.scss";

.footer {
  height: 80px;
  position: relative;
}

.black-panel {
  position: absolute;
  background: rgba(0, 0, 0, 0.62);
  height: 100%;
  right: $black-panel-offset-right;
  width: $black-panel-width;
  box-sizing: border-box;
}

.white-line {
  border-top: 3px solid white;
}

.black-line {
  border-bottom: 3px solid rgba(0, 0, 0);
}

.copyright {
  position: absolute;
  top: 0;
  right: calc(#{$black-panel-width} + #{$black-panel-offset-right});
  bottom: 0;
  margin-right: 8px;
}

.footer-text {
  font-family: "Merriweather", serif;
}
