/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* for sidenav to take whole page */
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Josefin Sans';
}

p {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}
