<!-- Slideshow container -->
<div
  @blockInitialRenderAnimation
  class="slideshow-container"
  [style.width]="width"
  [style.height]="height"
>
  <ng-container *ngFor="let slide of slides; let i = index">
    <picture class="slide" @carouselAnimation *ngIf="slideIndex === i">
      <source [srcset]="slide + '.webp'" type="image/webp" />
      <source [srcset]="slide + '.jpg'" type="image/jpeg" />
      <img
        class="slide"
        [src]="slide + '.jpg'"
        [style.objectFit]="objectFit"
        type="image/jpeg"
      />
    </picture>
  </ng-container>

  <div *ngIf="showArrows">
    <!-- Next and previous buttons -->
    <a class="prev" (click)="previousSlide()">&#10094;</a>
    <a class="next" (click)="nextSlide()">&#10095;</a>
  </div>
  <br />

  <!-- The dots/circles -->
  <div *ngIf="showDots" class="dot-container">
    <span
      *ngFor="let slide of slides; let i = index"
      class="dot"
      [ngClass]="{ active: slideIndex === i }"
      (click)="selectSlide(i)"
    ></span>
  </div>
</div>
