@import 'src/variables.scss';

.project-detail-container {
  display: grid;
  padding-top: calc(#{$headerHeight} + 10px);
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 1.5s;
}

.picture {
  height: 100%;
  width: 100%;
}

.image-box {
  height: 30vh;
  width: 100%;
  overflow: hidden;
}

.image:hover {
  transform: scale(1.2);
}
