<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
      <app-sidenav-list (sidenaveClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxLayout="column" class="full-height">
        <!--in here all the content must reside. We will add a navigation header as well-->
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main class='main' fxFlex="1 0 auto">
          <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
        <app-loading-page></app-loading-page>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
