<div fxLayout="row" fxLayoutAlign="space-evenly" fxFlexFill class="container" fxLayoutGap="20px">

  <award-card width="300px" imageSrc="assets/img/indianext.png" date="2019">
    <h2>COMPETITION | SHORTLISTED</h2>
    <p description>A collaborative effort with Himanshu Arteev and Umber Architects, the design explores a visionary
      path towards developing rural infrastructure. Addressing a multitude of issues that plague India’s villages, we
      adopted a multidisciplinary approach towards holistic development.
    </p>
    <h4>
      Rural Development<br>
      Environmental Planning
    </h4>
  </award-card>

  <award-card width="300px" imageSrc="assets/img/matterbetter.png" date="2016"
    knowMoreLink="https://matterbetter.com/media/competitioners/files/8c144a8d-723f-43ad-bc4e-880178263cb2.pdf">
    <h2>COMPETITION</h2>
    <p description>Our submission re-imagines a new post-war Syria that uses housing design to reconcile with the
      violence and displacement of its past. The concept, while symbolic, is also practical and contextual, enabling the
      speedy reconstruction of shelter that is environmentally and emotionally sustainable
    </p>
    <h4>
      Reconstruction<br>
      Resilience Strategies
    </h4>
  </award-card>


  <award-card width="300px" imageSrc="assets/img/nisha-modi-award.png" date="2016" knowMoreLink="https://english.manoramaonline.com/lifestyle/news/nisha-mary-poulose-building-ideas-brick-by-brick.html
  ">
    <h2>COMPETITION | WINNER</h2>
    <p description>Our Founder met the Prime Minister to receive an award for her paper on practical solutions for smart
      cities. The competition called Mera Shehar, Mera Sapna was a Government of India ideas competition that plugged
      into the Smart Cities Mission.
    </p>
    <h4>
      Urban Development<br>
      Research
    </h4>
  </award-card>


  <award-card width="300px" imageSrc="assets/img/nisha-modi-award.jpg" date="2015"
    knowMoreLink="https://pdfs.semanticscholar.org/3441/0f943b1e0dda537121bda41efc0cf4e746e7.pdf?_ga=2.180700000.618956526.1568834715-1140246747.1568834715">
    <h2>RESEARCH
    </h2>
    <p description>A research built on the convergence of debates on strategic spatial planning, and agriculture with
      the city region. The paper, set within the context of Western Europe, identifies the place that agriculture holds
      in planning documents and the influence it has on the growth and development of the city.
    </p>
    <h4>
      Strategic Spatial Planning
      <br>
      Agriculture
    </h4>
  </award-card>
  <!-- 
  <div class='grey-strap'></div> -->
</div>