<div fxLayout="row" fxFlexFill class="container" fxLayoutGap="20px">
  <award-card width="300px" imageSrc="assets/img/nisha-modi-award.jpg" date="2016" knowMoreLink="https://english.manoramaonline.com/lifestyle/news/nisha-mary-poulose-building-ideas-brick-by-brick.html
  ">
    <h2>COMPETITION | WINNER</h2>
    <p description>Our Founder met the Prime Minister to receive an award for her paper on practical solutions for smart
      cities. The competition called Mera Shehar, Mera Sapna was a Government of India ideas competition that plugged
      into the Smart Cities Mission.
    </p>
    <h4>
      Urban Development<br>
      Research
    </h4>
  </award-card>
  <award-card width="300px" imageSrc="assets/img/nisha-modi-award.jpg" date="2016" knowMoreLink="https://english.manoramaonline.com/lifestyle/news/nisha-mary-poulose-building-ideas-brick-by-brick.html
  ">
    <h2>COMPETITION | WINNER</h2>
    <p description>Our Founder met the Prime Minister to receive an award for her paper on practical solutions for smart
      cities. The competition called Mera Shehar, Mera Sapna was a Government of India ideas competition that plugged
      into the Smart Cities Mission.
    </p>
    <h4>
      Urban Development<br>
      Research
    </h4>
  </award-card>
  <award-card width="300px" imageSrc="assets/img/nisha-modi-award.jpg" date="2016" knowMoreLink="https://english.manoramaonline.com/lifestyle/news/nisha-mary-poulose-building-ideas-brick-by-brick.html
  ">
    <h2>COMPETITION | WINNER</h2>
    <p description>Our Founder met the Prime Minister to receive an award for her paper on practical solutions for smart
      cities. The competition called Mera Shehar, Mera Sapna was a Government of India ideas competition that plugged
      into the Smart Cities Mission.
    </p>
    <h4>
      Urban Development<br>
      Research
    </h4>
  </award-card>

  <div class='grey-strap'></div>
</div>
