.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card {
  position: relative;
  height: 100%;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

.behind {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.front:hover {
  opacity: 0.2;
}

.white-line {
  background: white;
  width: 70%;
  height: 3px;
}

.name {
  font-size: 1.1em;
}
/* @keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
 */
