@import 'src/variables.scss';

a {
  text-decoration: none;
  color: black;
  // font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

a:hover,
a:active {
  color: $accent;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
}
.full-width {
  width: 100%;
}

.mat-toolbar {
  font-family: 'Josefin Sans';
}
.logo {
  height: 100%;
  max-height: 140px;
}

.toolbar-item {
  height: 100%;
}

.mat-toolbar-single-row ::ng-deep {
  margin-top: 0;
  height: 140px;
}

.black-panel {
  background: rgba(0, 0, 0, 0.62);
  flex: 0 0 $black-panel-width;
  height: 100%;
  margin-right: $black-panel-offset-right;
  box-sizing: content-box !important;
}

.white-text {
  color: rgb(255, 255, 255, 1);
  margin-bottom: 3px;
  font-weight: bold;
}

.black-line {
  border-bottom: 10px solid rgba(0, 0, 0, 0.62);
}

.white-line {
  border-bottom: 10px solid white;
}

.link {
  font-size: 1em;
}
