<mat-toolbar class="black-line">

 <!--  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div> -->

  <div fxLayout fxHide.xs class='toolbar-item' fxFlexFill >
      <img class='logo' src="assets/img/logo.png"/>
    <ul fxLayout fxLayoutAlign='space-evenly end' class="navigation-items" fxFlex="1 1 auto" >
      <li>
        <a class="link" routerLink="/home">Home</a>
      </li>
      <li [matMenuTriggerFor]="menu">
        <a class="link" > About Us</a>
        <mat-menu #menu="matMenu" class="mat-menu">
          <button mat-menu-item routerLink="/who-we-are">Who are we</button>
          <button mat-menu-item routerLink="/what-we-do">What we do</button>
          <button mat-menu-item routerLink="/our-clients">Our clients</button>
        </mat-menu>
      </li>
      <li>
        <a class="link"routerLink="/projects">Projects</a>
      </li>
      <li>
        <a class="link" routerLink="/research-and-publications">Research and Publications</a>
      </li>
      <li>
        <a class="link" routerLink="/awards">Awards</a>
      </li>

    </ul>
    <div class="btn-connect transparent-black-line " fxLayout="column" fxLayoutAlign="end center" fxFlex="0 0 275px"	>
      <a class="link white-text" routerLink="/contact-us">Connect with Us</a>
    </div>
  </div>

</mat-toolbar>

