@import "src/variables.scss";

a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

a:hover,
a:active {
  color: $accent;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  height: 100%;
}

.toolbar-item {
  height: 100%;
}

.mat-toolbar-single-row ::ng-deep {
  margin-top: 16px;
  height: 140px;
}

.black-panel {
  background: rgba(0, 0, 0, 0.62);
  flex: 0 0 $black-panel-width;
  height: 100%;
  margin-right: $black-panel-offset-right;
  box-sizing: content-box !important;
}

.white-text {
  color: rgb(255, 255, 255, 1);
  margin-bottom: 3px;
  font-weight: bold;
}

.black-line {
  border-bottom: 3px solid rgba(0, 0, 0);
}

.white-line {
  border-bottom: 3px solid white;
}

.link {
  font-size: 0.8em;
}
