@import 'src/variables.scss';

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: $accent;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-menu {
  background-color: "red"
}

mat-toolbar {
  border-radius: 3px;
  flex: 1 1 auto;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
