<mat-toolbar>
  <div
    class="full-width"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxHide
    fxShow.lt-md
  >
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/img/logo.png" routerLink="/home" />
  </div>

  <div fxLayout fxHide.lt-md class="toolbar-item black-line" fxFlex="1 0 auto">
    <img class="logo" src="assets/img/logo.png" routerLink="/home" />
    <ul
      fxLayout
      fxLayoutAlign="space-evenly end"
      class="navigation-items"
      fxFlex="1 1 auto"
    >
      <li>
        <a class="link" routerLink="/team">Team</a>
      </li>
      <li>
        <a class="link" routerLink="/competencies">Competencies</a>
      </li>

      <!-- <li [matMenuTriggerFor]="menu">
        <a class="link"> About Us</a>
        <mat-menu #menu="matMenu" class="mat-menu">
          <button mat-menu-item routerLink="/who-we-are">Who we are</button>
          <button mat-menu-item routerLink="/what-we-do">What we do</button>
          <button mat-menu-item routerLink="/how-we-work">How we work</button>
        </mat-menu>
      </li> -->
      <li>
        <a class="link" routerLink="/projects">Projects</a>
      </li>

      <li>
        <a class="link" routerLink="/awards">Awards & Publications</a>
      </li>
    </ul>
    <div
      class="black-panel white-line"
      fxLayout="column"
      fxLayoutAlign="end center"
    >
      <a class="link white-text" routerLink="/connect-with-us"
        >Connect with Us</a
      >
    </div>
  </div>
</mat-toolbar>
