<div fxLayout='row' fxLayoutAlign="space-between">
    <div fxLayout='column'>
      <div fxLayout='row' class='about-me'>
        <img class="avatar" src="assets/img/nisha.jpg"/>

        <p class='description'>
            I love being my own boss, I have nobody to answer to. <br>
            I can hire any interns and make they work for free! <br>
             hahahahahahaha

        </p>
      </div>
      <div class='team'>Team</div>

  </div>
  <div fxLayout="row wrap" class='competencies'>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
  </div>

</div>
