.about-me {
  max-width: 500px;
}

.container {

}

.competencies {
  max-width: 30%;
}
.description {
  min-width: 200px;
}


.avatar {
  width: 200px;
  padding: 10px;
}

.circle {
  width: 45%;
  margin: 5px;
  border-radius: 50%;
}
