<div class='grid-container'>
    <img class="avatar" src="assets/img/nisha.jpg"/>

    <p>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>
      A long time ago when alcohol drove my life.<br>

    </p>

    <div fxLayout="row wrap" class="right">
      <img src="assets/img/cleo.jpg" class="circle"/>

      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>
      <img src="assets/img/cleo.jpg" class="circle"/>



    </div>

</div>
