<div fxLayout fxLayoutAlign="center center" fxFill>
    <div fxLayout="column" fxLayoutAlign="start center" class="column">

        <p class="text">
            With a a multi-disciplinary team, and over 9 years of experience in the field, the experts at Woven Design
            Collaborative works closely with NGOs, community associations and local groups to analyse and assess the
            status
            at the grassroot. We arrive upon contextual solutions that are rooted in multi-disciplinarity and critical
            thinking.
        </p>
        <img class='logo' src="assets/img/logo.jpg" />

        <p class="text">

            <span class="orange">COLLABORATE</span> :
            Woven has a strong cross-sectoral approach in design and problem solving. We are
            always looking for potential collaborations and look forward teaming up for projects-based partnerships.
            <br><br>


            <span class="orange">CONSULTANCY</span> :
            WDC does technical project-based planning, development and
            architectural consultancy. We engage
            with the region and community for critical problem solving and projectisation. Contact us for specific
            projects
            or for general queries on planning and development.
            <br><br>

            <span class="orange">TECHNICAL SUPPORT</span> :
            WDC provides cross-disciplinary technical assistance to communities and grassroot
            organisations on an on-going basis
            <br><br>

            <span class="orange">CONTACT</span><br>
            +91-9902298154<br><br>

            design.woven@gmail.com<br><br>

            6th floor, Rich Homes
            Richmod Road
            Bangalore

        </p>
    </div>
</div>