<div fxLayout fxLayoutAlign="center start" class="page">
    <div fxLayout="column" fxLayoutAlign="start center" class="column" fxLayoutGap="16px">

        <p class="text">
            Woven Design Collaborative is a development and planning consultancy, with expertise in urban design, rural
            development, regional planning and social projects. We have a holistic perspective and an integrated
            approach, and believe that sustainability lies within the local context.
        </p>
        <img class='logo' src="assets/img/logo.png" />

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
            <p>
                <span class="orange">COLLABORATE</span> :
                Woven has a strong cross-sectoral approach in design and problem solving. We are
                always looking for potential collaborators.
            </p>
            <p>
                <span class="orange">CONSULTANCY</span> :
                WDC provides planning, development and spatial design consultancy. We engage
                with the region and community for critical problem solving and projectisation. Contact us for specific
                projects or for general queries on planning and development.
            </p>

            <p>
                <span class="orange">TECHNICAL SUPPORT</span> :
                WDC provides cross-disciplinary technical assistance to communities and grassroot
                organisations on an on-going basis.
            </p>

        </div>
        <p class="text">
            <span class="orange">CONTACT</span>
        </p>
        <p>
            <a href="tel:00919902298154">+91-9902298154</a>
        </p>
        <p>
            <a href="mailto:design.woven@gmail.com">design.woven@gmail.com</a>
        </p>
        <p class='text'>
            6th floor, Rich Homes
            Richmond Road
            Bangalore
        </p>


    </div>
</div>