@import '~@angular/material/theming';

$headerHeight: 90px;

$app-primary: mat-palette($mat-deep-orange, 200);
$app-accent: mat-palette($mat-brown, 500);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$yellow: rgb(235, 224, 100);
$blue: rgb(97, 206, 201);
$red: rgb(212, 80, 67);
