@import 'src/variables.scss';

.projects-container {
  display: grid;
  padding-top: calc(#{$headerHeight} + 10px);
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

project-card {
  height: 300px;
  padding: 10px;
  outline: none;
}
