<div>
  <p>Woven Design Collective is a technical consultancy firm that transcends corporate boundaries to assist the
    grassroot with technical skill.<br>
    <br>
    We are a collaborative platform that brings multi-disciplinary expertise and diverse
    outlooks to the development sector. We work in the nexus of architecture, planning and social responsibility to
    innovate sustainable solutions for lasting holistic impact, through vision based, integrated planning and critical
    problem solving.<br>
    <br>
    Directed by a collaborative mindset, an inter-disciplinary team and a multi-pronged approach, we engage with our
    stakeholders to assist and empower them in directing spatial and societal growth.
  </p>

  <h4>Founder and technical director</h4>
  <div fxLayout>


    <img class="photo" src="assets/img/nisha.jpg" fxFlex="none"/>
    <div class='description'>
      <span>
        TNisha Mary Poulose is an award-winning architect and regional planner whose career in the urban sector spans 9
        years and 3 countries.<br><br> Her work is directed by a holistic perspective of design, social issues and
        sustainability.
        She is an Erasmus Mundus Scholar, with advanced double masters from Germany and France. In 2015 her submission
        in
        the ‘Mera Shahar Mera Sapna’ competition won her an award from the Prime Minister. She did her research at
        IRSTEA,
        the National Research Institute of Science and Technology for Environment and Agriculture, France before
        returning
        to Bangalore to set up her own global planning and design firm.
        <br>
        <br>
        She has worked with the Urban Development Department, Government of Karnataka, bringing her experience and
        expertise
        into providing sustainable transport solutions and integrated land use planning in several projects across the
        city.<br>
        <br>
      </span>

      <span class='right'>
        <strong>MSc. International Cooperation in Urban Development-</strong><br>
        Technische Universität Darmstadt, Germany<br>
        <br>
        <strong>MSc. Urbanisme Habitat and International Cooperation-</strong><br>
        Universite Pierre Mendes France.B.Arch–SRM University, India
      </span>

    </div>


  </div>






  <div>
    <h4>Team</h4>
  </div>
</div>
