<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
  <h2>{{headline}}</h2>

  <h2>{{secondHeadline}}</h2>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between" class="grey-row" fxFlexFill>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        CONSULTANCY
      </h3>
      <div class="flip-card circle">
        <div class="flip-card-inner circle">
          <div class="flip-card-front circle">
            <img src="assets/img/consultancy.jpg" class="circle">
          </div>
          <div fxLayout fxLayoutAlign="center center" class="flip-card-back circle yellow">
            <p>
              We do technical project based consultancy for planning development and architectural services
            </p>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        COLLABORATION
      </h3>
      <div class="flip-card circle">
        <div class="flip-card-inner circle">
          <div class="flip-card-front circle">
            <img src="assets/img/collaboration.jpg" class="circle">
          </div>
          <div fxLayout fxLayoutAlign="center center" class="flip-card-back circle red">
            <p>
              WDC facilitates multi-disciplinary collaboration for complex projects
            </p>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        TECHNICAL SUPPORT
      </h3>
      <div class="flip-card circle">
        <div class="flip-card-inner circle">
          <div class="flip-card-front circle">
            <img src="assets/img/technical-support.jpg" class="circle">
          </div>
          <div fxLayout fxLayoutAlign="center center" class="flip-card-back circle blue">
            <p>
              WDC provides cross-disciplinary technical assistance to communities and grassroot organisations on an
              on-going
              basis
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
