h2,
h3,
p {
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  margin: 8px 0;
}

.grey-row {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.11);
}

.card {
  flex: 1 1 33%;
  padding: 10px 20px;
}

.full-height {
  height: 100%;
}

.yellow {
  background-color: rgb(235, 224, 100);
}

.blue {
  background-color: rgb(97, 206, 201);
}

.red {
  background-color: rgb(212, 80, 67);
}
