<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
  <h2>{{headline}}</h2>

  <h2>{{secondHeadline}}</h2>

  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between" class="grey-row">
    <div fxLayout="column" class='card' fxLayoutAlign="space-between center" fxLayoutGap="6px">
      <h3>
        CONSULTANCY
      </h3>
      <p>
        We do technical project based consultancy for planning development and architectural services
      </p>
      <img src="assets/img/consultancy.jpg" class="image" />
    </div>
    <div fxLayout="column" class='card' fxLayoutAlign="space-between center" fxLayoutGap="6px">
      <h3>
        COLLABORATION
      </h3>
      <p>
        WDC facilitates multi-disciplinary collaboration for complex projects
      </p>
      <img src="assets/img/collaboration.jpg" class="image" />

    </div>
    <div fxLayout="column" class='card' fxLayoutAlign="space-between center" fxLayoutGap="6px">
      <h3>
        TECHNICAL SUPPORT
      </h3>
      <p>
        WDC provides cross-disciplinary technical assistance to communities and grassroot organisations on an on-going
        basis
      </p>
      <img src="assets/img/technical-support.jpg" class="image" />

    </div>
  </div>
</div>
