@import "src/variables.scss";

:host {
  height : 100%
}



h2,
h3,
p {
  font-size: 1em;
  text-align: center;
  //font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  margin-left : 140px;
  margin-right:  $black-panel-offset-right
}

p {
  margin: 0 4px;
}



.grey-row {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.11);
}

.card {
  flex: 1 1 33%;
  padding: 10px 20px;
}

.full-height {
  height: 100%;
}

.flip-card {
  width: 320px;
  height: 320px;
}
