<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
  <h2>{{headline}}</h2>

  <h2>{{secondHeadline}}</h2>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between" class="grey-row" fxFlexFill>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        CONSULTANCY
      </h3>
      <flip-card class="flip-card" imageSrc="assets/img/consultancy.jpg" backgroundColor="yellow">
        We do technical project based consultancy for planning development and architectural services
      </flip-card>
    </div>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        COLLABORATION
      </h3>
      <flip-card class="flip-card" imageSrc="assets/img/collaboration.jpg" backgroundColor="red">
        WDC facilitates multi-disciplinary collaboration for complex projects
      </flip-card>
    </div>

    <div fxLayout="column" class='card' fxLayoutAlign="start center" fxLayoutGap="20px">
      <h3>
        TECHNICAL SUPPORT
      </h3>
      <flip-card class="flip-card" imageSrc="assets/img/technical-support.jpg" backgroundColor="blue">
        WDC provides cross-disciplinary technical assistance to communities and grassroot organisations on an
        on-going
        basis
      </flip-card>
    </div>

  </div>
</div>
